label.css-15tx938.effi0qh3{
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0 0 0 ;
}

 ==============================================================================
 span.css-10trblm.e16nr0p30{
     font-size: 25px;
     font-weight: bold;
     padding: 10px 0 0 0 ;
 }
 ==============================================================================

div.css-1djdyxw.ek41t0m0{
    font-size: 17px;   
}

div.css-183lzff.eyqtai90{
    font-size: 20px;
}

 ==============================================================================
 stMarkdownContainer
 ==============================================================================


#text{
    font-size: 50px;
}